@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'Raleway';
	src: url("../fonts/Raleway/Raleway.ttf");
	font-size: 1em;
}
@font-face{
	font-family: 'Cardo';
	src:url("../fonts/Cardo/Cardo-Italic.ttf");
	font-size: 1em;
}

.Menu-principal{
height: 150px;
background-color:#c1a246;


}
.btn-danger{
    width: 130px;
    background-color: #e84545;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Raleway-Bold';
    margin-top: 20px;
    float: right;
}
.navbar {
    background-color: #ffc107;
    margin: 0px 28px 0px 125px ;
    border-radius:8px;
    top:105px;
}
.nav-link{
    font-family: 'OpenSans';
}
.navbar-light .navbar-brand{
    color:rgb(228 59 59);
    margin-right: 70px;
    font-family: monospace;
}
nav .nav-link{
    margin-right: 30px;

}

footer{
	margin-top: 100px;
	width: 100%;
	background-color:#c1a246;
    ;
	text-align-last: center;
}
footer .row {
	width: 100%;
}
footer .row-rodape {
	height: 220px;
	text-align-last: center;
}
footer.row li{
text-align-last: center;	
}
.row h5 {
	color: rgba(177, 33, 33, 0.514);
	padding-bottom: 10px;
	margin-top: 60px;
	text-align-last: center;
	font-family: 'Raleway-Bold';
	font-size:14px;
	text-transform: uppercase;
}
.row small{
	text-align-last: center;
	color: rgba(0,0,0,.55);
	font-size:14px;
	font-family: 'Raleway-Bold';
}
footer .rodape2 {
	height: 60px;
	background-color: #ffc107;
	border-top: #ffc107 1px solid;
}

.rodape2 small{
	float: center;
	color: rgba(0,0,0,.55);
	font-family: 'Raleway-Bold';	
	font-size: 14px;
}
a {
    float: center;
	color: rgba(0,0,0,.55);
	font-family: 'Raleway-Bold';	
	font-size: 14px;
}
a:hover{
    color:red;
}